$dark: #76575D;
$steel: #6D9891;
$light: #e2d0c0;
$peach: #F69F83;
$rosy: #DD826F;
$code: #F0DDD3;
$backdrop: #F0DDD3;
$altDark: #BDA4AA;

$background: #36404d;
$backgroundDark: #2c343f;
$shapeYellow: #f5c156;
$shapeRed: #e6616b;
$shapeTeal: #5cd3ad