.CodeMirror {
  width: 45%;
  height: 700px;
  margin: 0;
  margin-right: 10px;
  display: block;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 2px 1px 5px;
}
.CodeMirror-linenumber {
  padding: 1px 8px 0 0px;
}

.editor-game-group {
  display: flex;
}

.sandbox-group {
  display: flex;
}

.hidden {
  display: none;
}