.CodeMirror {
  width: 50%;
  height: 700px;
  margin: 0;
  display: block;
  font-size: 20px;
}

.editor-game-group {
  display: flex;
}

.sandbox-group {
  display: flex;
}

.hidden {
  display: none;
}
