.left-viewport {
  width: 45%;
  margin-right: 10px;
}

.CodeMirror {
  width: 100%;
  height: 600px;
  margin: 0;
  display: block;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 2px 1px 5px;
}
.CodeMirror-linenumber {
  padding: 1px 8px 0 0px;
}

.game-main-viewport {
  display: flex;
  margin-top: 30px;
}

.sandbox-group {
  display: flex;
}

.hidden {
  display: none;
}