.canvas-container {
  position: relative;
}

canvas {
  position: absolute;
}

.render-view,
.render-view-sandbox {
  width: 845px;
  height: 700px;
  border: 1px solid black;
}

#solution {
  display: none;
}

/* NEED THIS SO EVENT LISTENERS WORK, can't change z-index or else we lose clarity */
#solution,
#background {
  pointer-events: none;
}