.canvas-container {
  position: relative;
}

canvas {
  position: absolute;

}

#canvas {
  background: $code;
}

.render-view,
.render-view-sandbox {
  border-radius: 15px;
  width: 845px;
  height: 750px;
  border: 1px solid black;
  box-shadow: 3px 1px 5px grey;


}

#solution {
  display: none;
}

/* NEED THIS SO EVENT LISTENERS WORK, can't change z-index or else we lose clarity */
#solution,
#background {
  pointer-events: none;
}

.right-viewport {
  position: relative;
}

.coordinates {
  position: absolute;
  top: 10px;
  right: 10px;
  li {
    width: 60px;
  }

}