.level-counter {
  display: block;
  position: absolute;
  right: 10px;
  top: -40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  font-size: 20px;
}
.level-counter span:hover {
  cursor: pointer;
}

.triangle-left,
.triangle-right {
  display: block;
  cursor: pointer;
  height: 0px;
  width: 0px;
  border-style: solid;
}

.triangle-left:hover {
  border-color: transparent $rosy transparent transparent;
}
.triangle-right:hover {
  border-color: transparent transparent transparent $rosy;
}

.triangle-right {
  border-color: transparent transparent transparent $dark;
  border-width: 15px 0px 15px 20px;

}

.triangle-left {
  border-color: transparent $dark transparent transparent;
  border-width: 15px 20px 15px 0px;
}

.dropdown span {
  padding: 0.5rem 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  right: -48px;
  background-color: $dark;
  min-width: 200px;
  padding: 10px 10px;
  z-index: 2;
}

.dropdown:hover .dropdown-content{
  display: flex;
  justify-content: space-between;
  padding: 5px 8px;
  flex-wrap: wrap;
  border-radius: 10px;
}

.dropdown-content li {
  padding: 10px 5px;
  width: 20px;
  text-align: center;
  cursor:pointer;
  border-radius: 5px 10px;
}

.dropdown-content li:hover {
  background: $light;
}