#menu_toggle {
  opacity: 0;
}

.menu_button {
  position: fixed;
  top: 25px;
  left: 20px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 2;

  span,
  span::before,
  span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: 0.25s;
  }

  span::before {
    content: "";
    top: -10px;
  }

  span::after {
    content: "";
    top: 10px;
  }
}

#menu_toggle:checked + .menu_button > span {
  transform: rotate(45deg);
}

#menu_toggle:checked+ .menu_button>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu_toggle:checked+ .menu_button>span::after {
  top: 0;
  transform: rotate(90deg)
}

.menu_list {
  color: $backgroundDark;
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  padding: 80px 0;
  transition: .25s;
  background-color: $altDark;
  z-index: 1;
  box-shadow: 2px 0px 3px;

  li {
    padding: 20px 20px;
  }

  li:hover {
    background-color: $code;
  }

  li > a {
    display: block;
    font-size: 36px;
  }
}

#menu_toggle:checked ~ .menu_list {
  left: 0 !important;
}

